<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BorrowMapper">
    <!--动态sql-->

    <insert id="add">
        insert into tb_borrow
        (rdID, bkID, idContinueTimes, idDateOut, idDateRetPlan,
         idDateRetAct, idOverDay, idOverMoney, idPunishMoney,
         isHasReturn, OperatorBorrow, OperatorReturn)
        values
            (#{readerId},#{bookId},0,now(),DATE_ADD(NOW(), INTERVAL 30 DAY),NULL,0,0,
             0,0,#{operatorBorrowName},NULL);
    </insert>
</mapper>